<!-- Author Bio Section -->
<div class="author-bio" style="text-align: center; margin-top: 5px; margin-bottom: 20px;">
    <div class="author-image" style="display: inline-block;">
        <img src="https://images.groovetech.io/GiBeaFErV4dwpva2ScuCasCX0jQkvzqC38-2gg3DEi4/rs:fit:0:0:0/g:no:0:0/c:0:0/aHR0cHM6Ly9pbWFnZXMuZ3Jvb3ZldGVjaC5pby85dV9BTzgzLTB1b1R0dHBWMTZVUGZEUGRlRGFkc1c5c2h3VXFoNV8xX2wwL3JzOmZpdDowOjA6MC9nOm5vOjA6MC9jOjA6MC9hSFIwY0hNNkx5OWhjM05sZEhNdVozSnZiM1psWVhCd2N5NWpiMjB2YVcxaFoyVnpMelZtTURNeU1UYzBNR1k1WWpkaU1EQXhNemcwWkRabFlpOHhOekkzTnpRMU9UY3hYM0JyWVhKMWJpNXFjR2Mud2VicA.webp" 
             alt="Author Image" style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover;">
    </div>
    <div class="author-text" style="margin-top: 10px;">
	<h2>Hi! I'm <a href="https://pkarun.com">P K Arun</a> </h2>
	<br>
  <h4>I help users who Own Rental Property in India by sharing my own property management experience. 
</h4>
    </div>
</div>

<!-- Newsletter Subscription Section -->
<div class="newsletter-subscription" style="text-align: center;">
   <!-- <strong style="font-size: 1.5rem; display: block; margin-bottom: 10px;">Own Rental Property in India?</strong>-->
       <!--<p style="margin-bottom: 20px;">Subscribe below to get tips to manage your rental property like a pro.</p>-->
    <form action="https://emails.pkarun.com/subscribe" method="POST" accept-charset="utf-8" style="max-width: 400px; margin: 0 auto;">
        <input type="email" name="email" id="email" placeholder="Enter your email here" 
               style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #b3c6ff; border-radius: 5px; background-color: #fff;" required /><br/>
			   
	<div style="display:none;">
	<label for="hp">HP</label><br/>
	<input type="text" name="hp" id="hp"/>
	</div>		

 <!--     <div style="text-align: center; margin-top: 20px;"> 
        <div style="display: inline-block; text-align: left;">
          <input type="checkbox" name="confirmation" id="confirmation" style="vertical-align: middle; margin-right: 5px;" required>
          <label for="confirmation" style="display: inline;">I agree that when I sign up above I would LOVE to receive DAILY emails from P K Arun and I know how to click an unsubscribe link if I want to stop emails.</label><br><br>
 
        </div>
      </div>
	-->  
        <input type="hidden" name="list" value="abvY4nuBbtNyZne8PwwjfQ"/>
        <input type="hidden" name="subform" value="yes"/>
        <input type="submit" name="submit" id="submit" value="Join Now" 
               style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;"/>
    </form>
</div>  

<br>
<br>
<br>