 <br>
 <br>
 <!-- Newsletter Subscription Section -->
<div class="newsletter-subscription" style="text-align: center;">
 <strong style="font-size: 1.5rem; display: block; margin-bottom: 10px;">Enjoyed Article? Join Below</strong>
         <!-- <p style="margin-bottom: 20px;">Enjoyed Article? Join Below </p> -->
    <form action="https://emails.pkarun.com/subscribe" method="POST" accept-charset="utf-8" style="max-width: 400px; margin: 0 auto;">
        <input type="email" name="email" id="email" placeholder="Enter your email here" 
               style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #b3c6ff; border-radius: 5px; background-color: #fff;" required /><br/> 
			   	<div style="display:none;">
	<label for="hp">HP</label><br/>
	<input type="text" name="hp" id="hp"/>
	</div>
	
	 <!--      <div style="text-align: center; margin-top: 20px;"> 
        <div style="display: inline-block; text-align: left;">
          <input type="checkbox" name="confirmation" id="confirmation" style="vertical-align: middle; margin-right: 5px;" required>
          <label for="confirmation" style="display: inline;">I agree that when I sign up above I would LOVE to receive DAILY emails from P K Arun and I know how to click an unsubscribe link if I want to stop emails.</label><br><br>
 
        </div>
      </div>
	  --> 
        <input type="hidden" name="list" value="abvY4nuBbtNyZne8PwwjfQ"/>
        <input type="hidden" name="subform" value="yes"/>
        <input type="submit" name="submit" id="submit" value="Subscribe Now" 
               style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;"/>
    </form>
</div>  
<br>
<br>
