 <br>
 <br>
 <!-- Newsletter Subscription Section -->
<div class="newsletter-subscription" style="text-align: center;">
 <strong style="font-size: 1.5rem; display: block; margin-bottom: 10px;">Enjoyed Article? Join Below</strong>
         <!-- <p style="margin-bottom: 20px;">Enjoyed Article? Join Below </p> -->
    <form action="https://emails.pkarun.com/subscribe" method="POST" accept-charset="utf-8" style="max-width: 400px; margin: 0 auto;">
        <input type="email" name="email" id="email" placeholder="Enter your email here" 
               style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #b3c6ff; border-radius: 5px; background-color: #fff;" required /><br/> 
        <input type="hidden" name="list" value="lcK7bN1C7Oru8Ujc892qetww"/>
        <input type="hidden" name="subform" value="yes"/>
        <input type="submit" name="submit" id="submit" value="Send Construction Tips" 
               style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;"/>
    </form>
</div>  
<br>
<br>
